/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*Menu*/

.instagram {
	height: 20px;
}

/* Lien login/logout menu*/
.login {
	text-decoration: none;
	color: black;
}

.pagelogin {
	font-weight: bold;
}


#formlogin {
	width: 50%;
	margin: auto;
}

#formlogin>* {
	text-align: center;

}

#formlogin h2 {
	margin-bottom: 20px;
}

#formlogin form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#formlogin input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#formlogin label {
	margin: 2em 0 1em 0;
}


.motdepasseoublie {
	padding-bottom: 200px;
}


/*Filtres*/

#filtres {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filtre {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	margin: 30px 5px;
	text-align: center;
	border-color: #1D6154;
	border-radius: 60px;
	padding: 5px 10px;
}

.filtre:focus {
	background-color: #1D6154;
	color: white;
}


/*Bandeau*/

.bandeau {
	background-color: black;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mode-edition {
	margin-left: 10px;
	margin-right: 10px;
}


.inputbandeau {

	color: black;
	background-color: white;
	border-radius: 20px;
}

/*Modifier*/


.modifier1 {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	margin-bottom: 20px;
}

.span-modifier1 {
	margin-right: 5px;

}

.modifier2 {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	padding-left: 55px;
	margin-top: 10px;
}

.span-modifier2 {
	margin-right: 5px;

}

.mes-projets {
	display: flex;
	justify-content: center;
}

.modifier3 {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	padding-top: 10px;
}


.span-modifier3 {
	margin-left: 15px;
	margin-right: 5px;

}


/*Modale*/


.modal {
	box-sizing: border-box;
	position: absolute;
	display: block;
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 50px;
	left: 0;
	width: 600px;
	height:100%;
	background: white;
	border-radius: 10px;
	padding: 20px;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}


.croix {
	display: flex;
	justify-content: flex-end;
}

.titre-modale {
	display: flex;
	font-size: 20px;
}



#modal-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}



#modal-gallery img {
	width: 120px;
	height: 160px;
}


/*curseur*/
/* cursor {
	width: 50px;
	height: 10px;
} */
/*mettre bonne taille*/
#modal-gallery img:hover {
	cursor: url("././icons/curseur.png"), auto;
}

.hr-modale {
	margin-top: 200px;
	line-height: 60px;
}

/* span icone Corbeille */
.style-modal-icone {
	/* top: 0;
	right: 0; */
	position: absolute;
}

/*Icone Corbeille*/
.fa-trash-can {
	color: white;
	background-color: black;
	padding: 5px;
}



#ajoutphoto {
	margin: auto;
}

#ajoutphoto>* {
	text-align: center;
}

#ajoutphoto input {
	height: 50px;
	width: 100%;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


.supprimergalerie {
	color: red;
	text-decoration: none;
}

/* divFlecheCroix */

.divFlecheCroix {
	display: flex;
}

.uploader-image {
	width: 400px;
	height: 160px;
	background-color: #E8F1F7;
}

/*icone champ image*/

.fa-image {
	color: #B9C5CC;
	background-color: #E8F1F7;
}

.style-icone-photo {
	width: 60px;
	height: 45px;
}

/* Image téléchargée */
.imageUpload{
width: 130px;
height: 190px; 
position:absolute;
/* top: 770px; */
/* left:650px; */
}

/* Liste des catégories */
.choix-categorie {
	margin-bottom: 30Opx;
	text-align: left;
}

/* bouton formulaire désactivé */
#boutonpasactif {color:white;
background-color: #A7A7A7;
}

/* hover bouton formulaire */
#submit:hover {
	background-color: #1D6154;
	color: white;
}